@font-face {
	font-family: 'THICCCBOI';
	src: url('../public/fonts/THICCCBOI-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'THICCCBOI';
	src: url('../public/fonts/THICCCBOI-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'THICCCBOI';
	src: url('../public/fonts/THICCCBOI-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
